@if(equipmentItems$){
<mat-tab-group class="gear-picker-tab-group" (click)="$event.stopPropagation()">
  <mat-tab label="Exotic">
    @for (item of (equipmentItems$ | async | gearRarity :
    EquipmentRarity.Exotic); track item.id) {
    <app-gear-item [item]="item" (click)="onClickItem(item)"></app-gear-item>
    }
  </mat-tab>
  <mat-tab label="Set">
    @for (item of (equipmentItems$ | async | gearRarity : EquipmentRarity.Set);
    track item.id) {
    <app-gear-item [item]="item" (click)="onClickItem(item)"></app-gear-item>
    }
  </mat-tab>
  <mat-tab label="Brand">
    @for (item of (equipmentItems$ | async | gearRarity :
    EquipmentRarity.Brand); track item.id) {
    <app-gear-item [item]="item" (click)="onClickItem(item)"></app-gear-item>
    }
  </mat-tab>
</mat-tab-group>
}
