<mat-tab-group class="gear-picker-tab-group" (click)="$event.stopPropagation()">
  <mat-tab label="Exotic">
    <app-gear-item
      *ngFor="
        let item of availableItems$
          | async
          | gearRarity : EquipmentRarity.Exotic
      "
      [item]="item"
      (click)="onClickItem(item)"
    ></app-gear-item>
  </mat-tab>
  <mat-tab label="Set">
    <app-gear-item
      *ngFor="
        let item of availableItems$ | async | gearRarity : EquipmentRarity.Set
      "
      [item]="item"
      (click)="onClickItem(item)"
    ></app-gear-item>
  </mat-tab>
  <mat-tab label="Brand">
    <app-gear-item
      *ngFor="
        let item of availableItems$ | async | gearRarity : EquipmentRarity.Brand
      "
      [item]="item"
      (click)="onClickItem(item)"
    ></app-gear-item>
  </mat-tab>
</mat-tab-group>
