$item-margin: 20px;

.item-card {
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid lightgray;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    position: relative;

    .content-body {
      margin: 8px;
      color: lightgray;
    }

    .brand-icon {
      position: absolute;
      height: 50%;
      right: 40px;
      top: 10px;
    }
  }
}
