$item-margin: 20px;

.item-card {
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 24px);
    height: 100%;
    border-radius: inherit;
    position: relative;

    .content-body {
      margin: 8px;
      color: lightgray;
    }

    .brand-icon {
      position: absolute;
      height: calc(100% - 20px);
      max-height: 80px;
      right: 20px;
      top: 10px;
    }
  }
}
