<div
  class="item-card"
  [ngStyle]="{
    'background-image':
      'url(' +
      this.iconSourceRepository.GetIconSourceForBrand(this.item.icon) +
      ')'
  }"
>
  <div
    class="content-wrapper"
    [ngStyle]="{
      'border-left': '24px solid ' + (item.rarity | gearRarityColor),
      background:
        'linear-gradient(90deg, ' +
        (item.rarity | gearRarityColor : 0.4) +
        ' 10%, ' +
        (item.rarity | gearRarityColor : 0.2) +
        ' 35%, rgba(0,0,0,0) 80%)'
    }"
  >
    <div class="attibute-wrapper">
      <app-attribute-icon
        *ngFor="let item of this.item.attributes"
        [attribute]="item"
      ></app-attribute-icon>
    </div>
  </div>
</div>
