$item-margin: 20px;

.item-card {
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: inherit;
    position: relative;

    .content-body {
      color: white;
      height: 100%;

      .content-left {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
          margin: 8px;
        }

        .bottom {
          padding: 8px;
        }
      }
    }

    .brand-icon {
      position: absolute;
      height: calc(100% - 20px);
      max-height: 80px;
      right: 20px;
      top: 10px;
    }
  }
}
