$gap: 32px;
$border-size: 1px;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  app-gear-item {
    min-width: calc(50% - ($gap / 2) - ($border-size * 2));
    height: 120px;
    border: $border-size solid lightgray;
  }
}
