$gap: 32px;
$border-size: 1px;

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: $gap;

  app-gear-item {
    min-width: 400px;
    height: 120px;
    border: $border-size solid lightgray;
  }
}
