<div class="wrapper">
  <app-gear-item
    [item]="this.equipment.Mask"
    [matMenuTriggerFor]="menu_Mask"
  ></app-gear-item>
  <mat-menu #menu_Mask="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.Mask"
    ></app-body-gear-item-picker>
  </mat-menu>

  <app-gear-item
    [item]="this.equipment.Backpack"
    [matMenuTriggerFor]="menu_Backpack"
  ></app-gear-item>
  <mat-menu #menu_Backpack="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.Backpack"
    ></app-body-gear-item-picker>
  </mat-menu>

  <app-gear-item
    [item]="this.equipment.Vest"
    [matMenuTriggerFor]="menu_Vest"
  ></app-gear-item>
  <mat-menu #menu_Vest="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.Vest"
    ></app-body-gear-item-picker>
  </mat-menu>

  <app-gear-item
    [item]="this.equipment.Gloves"
    [matMenuTriggerFor]="menu_Gloves"
  ></app-gear-item>
  <mat-menu #menu_Gloves="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.Gloves"
    ></app-body-gear-item-picker>
  </mat-menu>

  <app-gear-item
    [item]="this.equipment.Holster"
    [matMenuTriggerFor]="menu_Holster"
  ></app-gear-item>
  <mat-menu #menu_Holster="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.Holster"
    ></app-body-gear-item-picker>
  </mat-menu>

  <app-gear-item
    [item]="this.equipment.KneePads"
    [matMenuTriggerFor]="menu_KneePads"
  ></app-gear-item>
  <mat-menu #menu_KneePads="matMenu">
    <app-body-gear-item-picker
      [slot]="GearSlot.KneePads"
    ></app-body-gear-item-picker>
  </mat-menu>
</div>
