.wrapper {
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(54, 54, 54);

  h1 {
    color: white;
    padding: 20px;
  }

  app-body-gear-items {
    display: flex;
    align-items: flex-start;
    width: 1000px;
    padding: 20px;
  }
}
